.sign-in-section {
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url('../assets/signup-bg-image1.svg'), url('../assets/signup-bg-image2.svg');
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-size: 468px, 468px;
    background-position: left bottom, right bottom;
}

.sign-in-container {
    background-color: white;
    height: 50%;
    width: 25%;
    margin: 10rem auto;
    position: absolute;
    top: 4%;
    left: 39%;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.sign-in-box {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: 5rem auto;
}

.sign-in-box img {
    width: 20%;
    height: auto;
}

.sign-in-btn {
    width: 60%;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sign-in-btn img {
    width: 15%;
}

.sign-in-btn span {
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 700;
}